@media only screen and (min-width: 641px) and (max-width: 1023px) {

    .containerFlexHeader {
        height: 50px;
    }

    .container {
        width: 700px;
        width: 85%;
        margin: 0 auto;
    }

    .containerFlexMain {
        display: block;
    }

    main>div>img {
        width: 100%;
        margin-bottom: 30px;
    }

    img.size {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 5px;
    }

    .containerGrid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    h3 {
        margin-bottom: 2px;
        margin-left: 5px;
    }

    main>section>div>div>section>p {
        margin-left: 5px;
        width: 80%;
    }

    button {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;

        background-color: rgb(40, 106, 250);
        border: none;
        color: white;
        height: 30px;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }
}